<!-- Sub copy -->
<table class="body-sub">
  <tr>
    <td>
      <p class="sub">Если у Вас возникли проблемы с кнопкой выше, просто скопируйте следующую ссылку и вставьте ее в браузере.</p>
      <p class="sub">{{action_url}}</p>
    </td>
  </tr>
</table>